@mixin background-color {
    background: linear-gradient(90deg, rgba(215,226,231,1) 0%, rgba(85,80,80,1) 0%, rgba(53,74,89,1) 50%, rgba(92,16,86,1) 100%);
}

@mixin box-shadow {
    box-shadow: 0px 0px 60px 20px rgba(255, 255, 255, 0.38);
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin size {
    width: 800px;
    height: 468px;
}

@mixin size-854px {
    width: 600px;
    height: 400px;
}

@mixin size-650px {
    width: 400px;
    height: 280px;
}

@mixin size-450px {
    width: 300px;
    height: 200px;
}

@mixin size-320px {
    width: 250px;
    height: 160px;
}

@mixin transition {
    transition: all 0.8s ease-in-out;
}